In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests

import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://www.glassdoor.com/sitedirectory/city-jobs.htm"
browser.visit(url)

In [4]:
job = input("what job position are you interested in?")

what job position are you interested in?data analyst

In [5]:
browser.fill('sc.keyword', job)

In [6]:
browser.find_by_id('HeroSearchButton').click()

In [14]:
results_url = browser.url
print(results_url)
jobs_count = browser.find_by_css('.jobsCount')
for i in jobs_count:
    total_jobs = i.text
    print(f'Number of jobs found: {total_jobs}')

https://www.glassdoor.com/Job/jobs.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword=data+analyst&sc.keyword=data+analyst&locT=&locId=&jobType=
Number of jobs found: 9,972 Jobs

In [8]:
job_items = browser.find_by_css('.jobContainer')
job_items

In [9]:
company = []
job_title = []
location = []

for job in job_items:
    
    job_post = job.text.splitlines()
    company.append(job_post[0])
    job_title.append(job_post[1])
    location.append(job_post[2])

In [10]:
jobs_df = pd.DataFrame({
        'job_title': job_title,
        'company': company,
        'location': location
})

In [11]:
jobs_df

,job_title,company,location
0,"Data Analyst, Customer Experience Analytics",Autodesk,"San Francisco, CA"
1,Data Quality Analyst,Autodesk,"Portland, OR"
2,"Data Analyst, Genuine Protection",Autodesk,Montreal
3,Business Data Analyst (must work,RealTime Solutions,"Becker, MN"
4,Data Analyst with an Emphasis on Presentation,VS Media,"Westlake Village, Los Angeles, CA"
5,Senior Data Analyst,Autodesk,"San Francisco, CA"
6,Data Analyst,Comprehensive Healthcare,"Yakima, WA"
7,Data Analyst I,Cenlar,"Ewing, NJ"
8,Data Analytics Analyst,Inmar,"Rogers, AR"
9,Data Analyst,Zelis Healthcare,"Bedminster, NJ"
10,Data & Business Analyst,PennyMac,"Westlake Village, Los Angeles, CA"
11,Data Analyst,Sedgwick,"Dubuque, IA"
12,Data Analyst,Trupanion,"Seattle, WA"
13,Salesforce Data Analyst,Avalara,Remote
14,"Senior Data Analyst, Genuine Protection",Autodesk,Montreal
15,Data Analyst,DISH,"Englewood, CO"
16,Product Management Data Analyst,HP Inc.,"Spring, TX"
17,BI Data Analyst II,CHRISTUS Health,"Irving, TX"
18,Data Engineering Analyst,COUNTRY Financial,"Bloomington, IL"
19,Data Analyst,CopperPoint Insurance Companies,"Phoenix, AZ"
20,Data Analyst,Big Huge Games,"Timonium, MD"
21,Data Analyst,JMH Companies,"New Orleans, LA"
22,DATA INTEGRATION ANALYST - W2 ONLY!,Entelli Consulting,"Schaumburg, IL"
23,"Analyst, Data Analytics",Lincoln Financial,"Dover, NH"
24,Data Analyst,Allianz Partners,"Richmond, VA"
25,Data Driven Solutions Analyst,Harris,"Saint Paul, MN"
26,System Data Analyst (EPM),Clinica Family Health,"Lafayette, CO"
27,Data Analyst,DRB Capital,"Cresskill, NJ"
28,Data Analyst,ReGeneration Schools,"Chicago, IL"
29,Data Analyst,AIPSO,"Johnston, RI"

In [13]:
jobs_df.to_csv("Output/glassdoor_jobs.csv", index=False)